<div id="homeDiv">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carouselHome">
		<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h4>{{slide.title}}</h4>
	          <p>{{slide.text}}</p>
	        </div>
	      </uib-slide>
	    </uib-carousel>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!-- Marketing Icons Section -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                Why Us?
	            </h1>
	        </div>
	        <div class="col-md-3" ng-repeat="service in servicesList">
	            <div class="panel panel-default">
	                <div class="panel-heading text-center">
	                    <h4>{{service.title}}</h4>
	                </div>
	                <div class="panel-body">
	                    <ul>
	                    	<li ng-repeat="desc in service.description">{{desc}}</li>
	                    </ul>
	                </div>
	                <div class="panel-footer">
	                	<a href="#" class="btn btn-default">Learn More</a>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- /.row -->

	    <!-- Portfolio Section -->
	    <div class="row">
	        <div class="col-md-4 col-sm-6" ng-repeat="item in portfolioList">
	            <a href="{{item.url}}" target="_blank">
	                <img class="img-responsive img-portfolio img-hover" ng-src="{{item.url}}" alt="">
	            </a>
	        </div>
	    </div>
	    <!-- /.row -->

	    <!-- Features Section -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h2 class="page-header">About Us</h2>
	        </div>
	        <div class="col-md-6">
	            <p>
					We are all about people. Our mission is to build a sustainable workforce, empowering people, and regaining much needed skills, dedicated to customer satisfaction and quality end results.
				</p>
				<p>
					This entails employing passionate, qualified &amp; talented people in positions of responsibility, who in turn can teach and train others.
					Our Mission is to not limit ourselves in order to achieve a successful business with the main aspect being development of skills, employment, ensuring service ethics that we embrace and that in turn will rebuild and serve South Africa, our Country.
				</p>
				<p>
					When people are empowered to do the right thing, customers develop a lasting memory. That’s what we strive for everyday, with people that are extraordinary—that’s the Wish Upon A Star way.
				</p>
				<br/><br/>
				<img src="assets/images/signature.png" width="170">
	        </div>
	        <div class="col-md-6">
	            <img class="img-responsive" src="assets/images/portfolio/portfolio7.jpg" alt="">
	        </div>
	    </div>
	    <!-- /.row -->

	    <hr>

	    <!-- Call to Action Section -->
	    <div class="well">
	        <div class="row">
	            <div class="col-md-8">
	                <p>Should you have any queries or if you would like to request a quote, please feel free to contact us.</p>
	            </div>
	            <div class="col-md-4">
	                <a class="btn btn-lg btn-default btn-block" href="#/contact">Contact Us</a>
	            </div>
	        </div>
	    </div>
	</div>
</div>