<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8" ng-show="!self.MessageSent">
            <h3>Send us a Message</h3>
            <form name="sentMessage" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" ng-model="self.ContactForm.Name" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone Number:</label>
                        <input type="tel" class="form-control" ng-model="self.ContactForm.Phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" ng-model="self.ContactForm.Email" id="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" ng-model="self.ContactForm.Message" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="button" class="btn btn-primary" ng-click="self.submitForm()">Send Message</button>
            </form>
        </div>
        <div class="col-md-8" ng-show="self.MessageSent">
            <p><br/><br/><mark>Your message has successfully been sent.</mark></p>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Contact Details</h3>
            <p>
                Gauteng, South Africa<br>
            </p>
            <p><i class="fa fa-phone"></i> 
                <abbr title="Phone"><span class="glyphicon glyphicon-phone"></span></abbr>: +27 (0) 12 803-3952</p>
            <p><i class="fa fa-envelope-o"></i> 
                <abbr title="Email"><span class="glyphicon glyphicon-envelope"></span></abbr>: <a href="mailto:wishuponastarprojects@gmail.com">wishuponastarprojects@gmail.com</a>
            </p>
            <p><i class="fa fa-clock-o"></i> 
                <abbr title="Hours"><span class="glyphicon glyphicon-time"></span></abbr>: Monday - Friday: 8:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>